@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
header{
    display: flex;
    justify-content: center;
    margin: 32px 0;
    gap: 20px;
}
header a{
    text-decoration: none;
    font-size: 22px;
    color: #000000;
}
header a:hover{
    color: pink;
    transition: 0.3s ease-in-out;
}
.principal .main_image{
    border-radius: 22px;
}
.principal .localidade{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.principal{
    display: flex;
    justify-content: center;
}
main h1 span{
    color:aquamarine;
}
.display_container h1{
    font-size: 40px;
}
.display_container .p1{
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.display_container .p2,.p3{
    font-size: 20px;
    font-weight: 500;
}
.display_container{
    margin: 30px;
}
.display_container .redes_sociais img{
    width: 34px;
    height: 34px;
    margin: 50px 0 ;
}
.redes_sociais {
    display: flex;
    gap: 10px;
}
main .aboutme{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutme span{
    font-size: 24px;
    background-color: pink;
    border-radius: 25px;
    padding: 7px 22px;
    max-width:fit-content;
}
.aboutme p{
    font-size: 18px;
    margin-top: 40px;
    max-width: 50%;
    font-weight: 400;
}
hr{
    margin: 50px;
    position: relative;
    left: 230px;
    max-width: 70%;
}

main .skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skills span{
    font-size: 24px;
    background-color: pink;
    border-radius: 25px;
    padding: 7px 22px;
    max-width:fit-content;
}
.skills p{
    font-size: 16px;
    margin-top: 20px;
    max-width: 50%;
    font-weight: 400;
}

.skills .container_skills img{
    width: 64px;
    height: 64px;
}
.skills .container_skills span{
    font-size: 16px;
    background:none
}
.habilidade{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_skills{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container_works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_works span{
    font-size: 24px;
    background-color: pink;
    border-radius: 25px;
    padding: 7px 22px;
    max-width:fit-content;
}
.container_works .trabalho{
    display: flex;
    background-color: rgba(223, 226, 226, 0.267);
    padding: 30px;
    border-radius: 22px;
    align-items: center;
    margin: 10px 20px 100px  ;
    max-width: 50%;

}
.container_works p{
    margin: 10px 0px 30px;
    max-width: fit-content;
}
.container_works .trabalho .text{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}
.trabalho p{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-top: 40px ;
    max-width: 70%;
    font-weight: 400;
}
.trabalho img{
    width: 480px;
    height: 480px;
    border-radius: 22px;
}
.tecnologias{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.trabalho .tecnologias span{
    display: flex;
    font-size: 18px;
    padding: 4px 20px;
     
}
.trabalho .text a{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 5px 0;
    border-radius: 22px;
    transition: transform 0.3s ease
}
.trabalho .text a:hover{
    transform:translateY(-5px);
}
.lista-jobs{
    display: flex;
}
.container_imagem{
    background-color: pink;
}
.text h3{
    font-size: 22px;
}
.text a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-top: 50px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    flex-direction: column;
}
footer p{
    position: relative;
    top: 30px;
}
footer h3{
    font-size: 18px;
    font-weight: 600;
    max-width: 30%;
    text-align: start;
    margin: 35px 0 10px;
    color: #4b5563;
}
footer a{
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.redes{
    display: flex;
    gap: 15px;
    margin: 20px;
}
footer h4{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 127, 146);
    width: 100%;
    padding: 30px;
}
.tel{
    display: flex;
    align-items: center;
    gap: 5px;
}
.email{
    display: flex;
    align-items: center;
    gap: 5px;
}
.email img{
    margin-top: 15px;
}
